<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapFit</title>
</head>

<body>
    <header>
        <h1>Welcome to SnapFit</h1>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2025 SnapFit. All rights reserved.</p>
    </footer>
    
</body>
</html>